.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 244px 1fr 244px;
  width: 100%;
  height: 100%;
  max-width: var(--max-width);
  max-height: var(--max-height);
  border-radius: 16px;
  overflow: hidden;
}

.content {
  background: #1D203E;
  display: flex;
  justify-content: center;
  color: #fff;
}