.sidebar {
  background: #2C2F48;
  box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 0.10) inset;
}

.name {
  color: #FFF;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 4px;
}

.handle {
  color: rgba(255, 255, 255, 0.25);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}